<ion-view title="Crear Desafio" hide-back-button="true" cache-view="false" id="page3">
    <ion-content padding="true" style="background: url(img/Background.jpg) no-repeat center;background-size:cover;" class="has-header">
    	<form id="formCrear" class="list" name="formCrear">
            <label class="item item-input" id="crearDesafio-input1" name="desafioTitle">
                <span class="input-label">Titulo</span>
                <input type="text" ng-model="nuevaBatallaData.titulo" placeholder="Mi fabuloso desafio" required>
            </label>
            <!-- <div class="spacer" style="width: 300px; height: 10px;"></div>
            <label class="item item-input" id="crearDesafio-textarea1" name="desafioDesc">
                <span class="input-label">Detalle</span>
                <textarea id="detalleArea" ng-model="nuevaBatallaData.detalle" ng-change="updateTextArea('detalleArea')" placeholder="Apuesto XXX a que..." required></textarea>
            </label> -->
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <label class="item item-input" id="crearDesafio-input8" name="desafioInicio">
                <span class="input-label">Fecha Inicio</span>
                <input type="date" ng-model="nuevaBatallaData.fechaInicio" placeholder="" required>
            </label>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <label class="item item-input" id="crearDesafio-input9" name="desafioFin">
                <span class="input-label">Fecha Fin</span>
                <input type="date" ng-model="nuevaBatallaData.fechaFin" placeholder="" required>
            </label>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <ion-item class="range range-positive" id="crearDesafio-range2">Apuesta ${{nuevaBatallaData.valorApuesta}}
                <input type="range" min="0" max="100" step="10" ng-model="nuevaBatallaData.valorApuesta" name="desafioApuesta" required>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <div id="gridWrapper">
                    <div class="flipBtnWrapper">
                        <input type="checkbox" class="flipBtn_checkbox" ng-model="gridSelect" ng-change="RadioButtonClick(gridSelect)" ng-true-value="'TL'" ng-false-value=""/>
                        <div class="flipBtn demo3">
                          <div class="flipBtn_face flipBtn_back demo3">
                            <h3 align=center></h3>
                            <H2 align=center></H2>
                          </div>
                          <div class="flipBtn_face flipBtn_mid demo3">
                          </div>
                          <div class="flipBtn_face flipBtn_front demo3">
                          </div>
                        </div>
                    </div>
                    <div class="flipBtnWrapper">
                        <input type="checkbox" class="flipBtn_checkbox" ng-model="gridSelect" ng-change="RadioButtonClick(gridSelect)" ng-true-value="'TR'" ng-false-value="" />
                        <div class="flipBtn demo3">
                          <div class="flipBtn_face flipBtn_back demo3">
                            <h3 align=center></h3>
                            <H2 align=center></H2>
                          </div>
                          <div class="flipBtn_face flipBtn_mid demo3">
                          </div>
                          <div class="flipBtn_face flipBtn_front demo3">
                          </div>
                        </div>
                     </div>
            </div>
            <div id="gridWrapper">
                    <div class="flipBtnWrapper">
                        <input type="checkbox" class="flipBtn_checkbox" ng-model="gridSelect" ng-change="RadioButtonClick(gridSelect)" ng-true-value="'BL'" ng-false-value=""/>
                        <div class="flipBtn demo3">
                          <div class="flipBtn_face flipBtn_back demo3">
                            <h3 align=center></h3>
                            <H2 align=center></H2>
                          </div>
                          <div class="flipBtn_face flipBtn_mid demo3"></div>
                          <div class="flipBtn_face flipBtn_front demo3"></div>
                        </div>
                      </div>
                    <div class="flipBtnWrapper">
                        <input type="checkbox" class="flipBtn_checkbox" ng-model="gridSelect" ng-change="RadioButtonClick(gridSelect)" ng-true-value="'BR'" ng-false-value=""/>
                        <div class="flipBtn demo3">
                          <div class="flipBtn_face flipBtn_back demo3">
                            <h3 align=center></h3>
                            <H2 align=center></H2>
                          </div>
                          <div class="flipBtn_face flipBtn_mid demo3"></div>
                          <div class="flipBtn_face flipBtn_front demo3"></div>
                        </div>
                    </div>
            </div>
        </form>
        <button id="crearDesafio-button2" ng-disabled="(nuevaBatallaData.titulo == '' || nuevaBatallaData.detalle == '' || nuevaBatallaData.valorApuesta == 0 || gridSelect == '')" ng-click="createDesafio()" class="button button-balanced  button-block icon ion-android-send">Generar Desafio</button>
	</ion-content>
</ion-view>