<ion-view title="DesafiosTabs" hide-back-button="true" cache-view="false" id="page1">
    <ion-tabs class="tabs-dark tabs-icon-top" id="desafiosTabs-tabs1">
        <ion-tab title="Crear Desafio" icon="ion-android-create" href="#/desafios/crear" id="desafiosTabs-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lista de Desafios" icon="ion-social-buffer" href="#/desafios/lista" id="desafiosTabs-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Desafios Aceptados" icon="ion-ribbon-a" href="#/desafios/aceptados" id="desafiosTabs-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>