<ion-view title="Detalles Desafio" hide-back-button="true" cache-view="false" id="page8">
    <ion-content padding="true" class="has-header">
        <h2 id="detallesDesafio-heading1" style="color:#000000;text-align:center;">Titulo</h2>
        <div id="detallesDesafio-markdown1" style="color:#000000;text-align:justify;">
            <p>Descripcion del desafio</p>
        </div>
        <h4 id="detallesDesafio-heading4" style="color:#000000;">Fecha Inicio: dd/mm/aaaa</h4>
        <h3 id="detallesDesafio-heading2" style="color:#000000;">Valor de la Apuesta: $9999</h3>
        <button id="detallesDesafio-button7" class="button button-balanced  button-block icon-left ion-android-done">Aceptar Apuesta!</button>
        <h4 id="detallesDesafio-heading3" style="color:#000000;text-align:center;">Desafio Aceptado!</h4>
    </ion-content>
</ion-view>