<ion-view title="Login" hide-back-button="true" cache-view="false" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list">
            <ion-list id="login-list4">
                <label class="item item-input" id="login-input2" name="loginMail">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input3" name="loginPassword">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button3" class="button button-balanced  button-block icon ion-android-checkbox-outline">Log in</button>
            <button id="login-button10" class="button button-assertive  button-block icon ion-social-googleplus">Log in con Google+</button>
            <button id="login-button9" class="button button-dark  button-block icon ion-social-github">Log in con Github</button>
            <a ui-sref="register" id="login-button4" class="button button-light  button-block button-outline">Registrar un nuevo usuario</a>
        </form>
    </ion-content>
</ion-view>