<ion-view title="Register" hide-back-button="true" cache-view="false" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="register-form4" class="list">
            <ion-list id="register-list5">
                <label class="item item-input" id="register-input4" name="registerName">
                    <span class="input-label">Nombre de Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="register-input5" name="registerMail">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="register-input6" name="registerPass">
                    <span class="input-label">Contraseña</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="register-input7" name="registerPassC">
                    <span class="input-label">Repetir Contraseña</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="register-button5" class="button button-dark  button-block">Registrarse</button>
            <a ui-sref="login" id="register-button6" class="button button-light  button-block button-outline">Volver al Login</a>
        </form>
    </ion-content>
</ion-view>